<ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" *ngIf="isSaved" id="modal-basic-title">Salvo com sucesso!</h4>
        <h4 class="modal-title" *ngIf="!isSaved" id="modal-basic-title">Erro ao salvar</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p *ngIf="isSaved">O usuário foi salvo com sucesso!</p>
        <p *ngIf="!isSaved">Houve um erro ao tentar concluir a operação. Favor tente novamente.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Ok</button>
    </div>
</ng-template>
