<div>
    <form class="needs-validation" [formGroup]="userForm" (ngSubmit)="saveUser()" novalidate>
        <div class="row form-container">
            <!--Name field-->
            <div class="col-md-6 mb-3">
                <label for="name" class="form-label">{{ 'user.name.label' | translate }}</label>
                <input
                    class="form-control"
                    formControlName="name"
                    [ngClass]="{ 'invalid-field': (nameInput.dirty || nameInput.touched || isSubmitted) && nameInput.errors?.required === true }"
                    id="name"
                />
                <div
                    id="emailHelp"
                    class="invalid-feedback-message"
                    *ngIf="(nameInput.dirty || nameInput.touched || isSubmitted) && nameInput.errors?.required === true"
                >
                    {{ 'user.name.message.nameEmpy' | translate }}
                </div>
            </div>

            <!--CPF field-->
            <div class="col-md-6 mb-3">
                <label for="cpf" class="form-label">{{ 'user.cpf.label' | translate }}</label>
                <input
                    class="form-control"
                    id="cpfUser"
                    formControlName="cpf"
                    [ngClass]="{ 'invalid-field': (cpfInput.dirty || cpfInput.touched || isSubmitted) && cpfInput.errors?.required === true }"
                    required
                />

                <div
                    id="emailHelp"
                    class="invalid-feedback-message"
                    *ngIf="(cpfInput.dirty || cpfInput.touched || isSubmitted) && cpfInput.errors?.required === true"
                >
                    {{ 'user.cpf.message.cpfEmpty' | translate }}
                </div>
            </div>

            <!--Telephone field-->
            <div class="col-md-6 mb-3">
                <label for="telephone" class="form-label">{{ 'user.telephone.label' | translate }}</label>
                <input
                    type="email"
                    class="form-control"
                    formControlName="telephone"
                    id="telephone"
                    [ngClass]="{ 'invalid-field': (telephoneInput.dirty || telephoneInput.touched || isSubmitted) && telephoneInput.errors?.required === true }"
                />
                <div
                    *ngIf="(telephoneInput.dirty || telephoneInput.touched || isSubmitted) && telephoneInput.errors?.required === true"
                    class="invalid-feedback-message"
                >
                    {{ 'user.telephone.message.telephoneEmpty' | translate }}
                </div>
            </div>

            <!--E-mail field-->
            <div class="col-md-6 mb-3">
                <label for="email" class="form-label">{{ 'user.email.label' | translate }}</label>
                <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    id="email"
                    [ngClass]="{ 'invalid-field': (emailInput.dirty || emailInput.touched || isSubmitted) && emailInput.errors?.required === true }"
                />
                <div
                    id="emailHelp"
                    class="form-text"
                    class="invalid-feedback-message"
                    *ngIf="(emailInput.dirty || emailInput.touched || isSubmitted) && emailInput.errors?.required === true"
                >
                    {{ 'user.email.message.emailEmpty' | translate }}
                </div>
            </div>

            <!--Telephone field-->
            <div class="col-md-6 mb-3">
                <label class="form-label">{{ 'user.sex.label' | translate }}</label>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sex" id="inlineRadio1" formControlName="sex" value="F" />
                        <label class="form-check-label" for="inlineRadio1">{{ 'user.sex.female.label' | translate }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sex" id="inlineRadio2" formControlName="sex" value="M" />
                        <label class="form-check-label" for="inlineRadio2">{{ 'user.sex.male.label' | translate }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sex" id="inlineRadio3" formControlName="sex" value="O" />
                        <label class="form-check-label" for="inlineRadio3">{{ 'user.sex.other.label' | translate }}</label>
                    </div>
                </div>
                <div *ngIf="(sexInput.dirty || sexInput.touched || isSubmitted) && sexInput.errors?.required === true" class="invalid-feedback-message">
                    {{ 'user.sex.message.sexEmpty' | translate }}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="birthday" class="form-label">{{ 'user.birthday.label' | translate }}</label>
                    <input
                        type="date"
                        class="form-control"
                        name="birthday"
                        id="birthday"
                        [ngClass]="{
                            'invalid-field': (birthdayInput.dirty || birthdayInput.touched || isSubmitted) && birthdayInput.errors?.required === true
                        }"
                        formControlName="birthday"
                    />
                    <div
                        *ngIf="(birthdayInput.dirty || birthdayInput.touched || isSubmitted) && birthdayInput.errors?.required === true"
                        class="invalid-feedback-message"
                    >
                        {{ 'user.birthday.message.birthdayEmpty' | translate }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <button type="submit" class="btn btn-primary">
                    <span>{{ 'save.label' | translate }}</span>
                    <span class="spinner-border spinner-border-sm" *ngIf="isLoading" role="status" aria-hidden="true"></span>
                </button>
                <span class="divider-buttons"></span>
                <button (click)="back()" class="btn btn-outline-primary">
                    <span>{{ 'back.label' | translate }}</span>
                </button>
            </div>
        </div>
    </form>

    <ng-template #modal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" *ngIf="isSaved" id="modal-basic-title">Salvo com sucesso!</h4>
            <h4 class="modal-title" *ngIf="!isSaved" id="modal-basic-title">Erro ao salvar</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p *ngIf="isSaved">O usuário foi salvo com sucesso!</p>
            <p *ngIf="!isSaved">Houve um erro ao tentar concluir a operação. Favor tente novamente.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Ok</button>
        </div>
    </ng-template>
</div>
